* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper--btn {
  border: 2px solid #e3e3e3;
  border-radius: 15px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  border-radius: 10px;
  color: rgb(240, 239, 244);
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  margin: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.5);
  transition: all 0.3s ease-in-out;
}
.snackbar {
  position: absolute;
  font-size: 1.4rem;
  width: 200px;
  padding: 10px 6px;
}
.error {
  color: white;
  background: rgb(244, 67, 54);
}

.success {
  color: rgb(124, 0, 0);
  background: rgb(76, 175, 80);
}
.information {
  color: yellow;
  background: rgb(33, 150, 243);
}

.warning {
  background: rgb(255, 152, 0);
  color: black;
}
.top-right {
  position: absolute;
  transition: translate(50%, 20%);
}
