* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.wrapper--btn {
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: pink;
}
